.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-right: 5px;
}

.btn{
  border: 20px;
  border-radius: 10px;
  background-color:white;
  box-shadow: 4px 5px 0px black;
  text-align: center;
  font-weight: bold;
  width: 100px;
  height: 100px;
}

.btn:hover{
  transform: translate(5%,-4%);
  transition: all 0.1s ease-in;
}

.scoreBoard{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}

#paperIcon{
  padding-top: 10px;
}

#scissorsIcon{
  padding-top: 10px;
}

body{
  background-color:antiquewhite;
}

.gameContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.endContainer{
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: bold;
  font-size: 20px;
}

.btn.unclickable{
  pointer-events: none;
}

.selectionContainer{
  display: flex;
  border-radius: 10px; 
  border-style: double;
  border-width: 20px;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 150px;
  margin: 20px;
  gap: 10px;
  padding: 10px;
  background-color:silver;
}

.icon{
  position: relative;
  top: 0;
  left: 0;
}

.selectionInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
  font-weight: bold;
  height: 80px;
}

.header{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.score-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color:silver;
  border-radius: 10px; 
  border-style: double;
  border-width: 10px;
}

.health{
  display: flex;
  flex-direction: row;
  gap:5px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

#github:hover{
  transform: rotate(360deg) scale(1.2);
  transition: transform 0.3s ease-in-out;
}
